@font-face {
    font-family: "inter-italics";
    src: url("/assets/fonts/Inter-Italic.woff2");
}

@font-face {
    font-family: "inter-medium";
    src: url("/assets/fonts/Inter-SemiBold.woff2");
}

@font-face {
    font-family: "inter-regular";
    src: url("/assets/fonts/Inter-Regular.woff2");
}

@font-face {
    font-family: "inter-semiItalic";
    src: url("/assets/fonts/Inter-SemiBoldItalic.woff2");
}

body,
html {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: block;
    box-sizing: border-box;

}

header {
    display: flex;
    width: 100%;
    height: 56px;
    background-color: #2874f0;
}

.header-content {
    padding: 0 124px;
    max-width: 1248px;
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    font-size: 16px;
    font-family: "inter-medium";
    margin: 0 auto;
    justify-content: right;
}

.header-content a {
    line-height: 20px;
    font-size: 16px;
    font-family: "inter-medium";
    color: #fff;
}

.logo {
    display: flex;
    height: 100%;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
    min-width: 137px;
}

.top-logo {
    display: flex;
    width: 75px;
    height: 20.1167px;

}

.top-logo img {
    width: 100%;
    width: 75px;
    height: 20.1167px;
}

.bottom-logo a {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.bottom-logo img {
    width: 10px;
    height: 10px;
    margin-top: 1px;
}

.bottom-logo a {
    font-family: "inter-italics";
    font-size: 11px !important;
    line-height: 15.4px !important;
    font-weight: 200;
    margin-top: -2px;
    color: #fff;
    letter-spacing: -0.1px !important;
}

.bottom-logo a img {
    top: 1px;
    position: relative;
    left: -1px;
}

.bottom-logo span {
    color: #ffe500;
    font-family: "inter-italics";
    font-size: 11px;
    line-height: 15.4px;
    font-weight: 200;
    margin-right: 2px;
}

.input-padding {
    width: 100%;
    max-width: 564px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23);
    margin: 0 14px 0 12px;
}

.input-div {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    max-height: 36px;
    background-color: #fff;
}

.input-div input {
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    font-size: 14px;
    height: 36px;
    width: 100%;
    outline: none;
}


.input-div button {
    height: 100%;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-right: 13px;
}

.login {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px 0 21px;
    position: relative;
    /* margin-left: 23px; */
}

.login button {
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 31px;
    padding: 0px 39px;
    border: 1px solid #dbdbdb;
}

.login button a {
    color: #2874f0 !important;
    letter-spacing: 0.1px;
}

.seller-txt {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    max-width: max-content;
}

.more-item {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin: 0 20px;
    max-width: 150px;
    gap: 10px
}

.more-item span {
    max-width: 108px;
    color: #fff;
}

.more-item img {
    transform: rotate(-90deg);
}

.cart-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 8px;
    margin: 0 20px;
    color: #fff;
}

.cart-content img {
    width: 16.5px;
    height: 15.8px;
}
.nav-contents{
    border-bottom: 1px solid  #d6cdcd;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}
.nav-padding {
    width: 100%;
    height: 40px;
    background-color: #fffefe;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1230px;
    margin: auto;
    /* justify-content: space-between; */
    gap: 20px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 7px;
    /* margin-right:  20
    px; */
    height: 100%;
    flex-grow: 1;
}

.nav-item span {
    color: #000;
    font-size: 13px;
    line-height: 19.6px;
    font-family: "inter-medium";
    letter-spacing: 0.15px;
    align-items: center;
    justify-content: center;
}

.nav-item img {
    transform: rotate(-90deg);
}
.nav-item:last-child img{
display: none;
}

.nav-item:nth-last-child(2) img{
    display: none;

}
/*mon  */
.main-container {
    background-color: #f1f3f6;

}

.main {
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

}

.main-left {
    flex: 0 0 280px;
    max-width: 280px;
    padding: 0px 10px 0px 0px;
    display: flex;
    width: 16.66%;
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-flow: column;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
    width: 100%;
}

.filter {
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    padding: 16px;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.filter span {
    font-size: 18px;
    text-transform: capitalize;
    font-family: "inter-medium";
    line-height: 25.2px;
    letter-spacing: 0.3px;
    font-weight: 500;
}

.main-right {
    flex-grow: 1 !important;
    overflow: auto;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    max-width: 1384px;
}

.main-top {
    width: 100%;
    /* height: 100%; */
}

.mainTop-padding {
    padding: 12px 16px 0;
    border-bottom: 1px solid #f0f0f0;
    height: 100%;
    min-height: 72px;
    box-sizing: border-box;
}

.top-content {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.top-item {
    display: flex;
    flex-flow: row;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    vertical-align: middle;
    display: inline-block
}

.top-item a {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 11px;
    font-family: "inter-regular";
    line-height: 16.8px;
    cursor: pointer;
    color: #a6a6a6;
}

.top-item img {
    height: 7px;
    width: 20px;
    transform: rotate(180deg);
}

.top-item img:nth-child(3) {
    display: none;
}


.top-middle {
    display: block;
    margin-top: 10px;
}

.top-middle span {
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    color: #212121;
    font-family: "inter-medium";
    letter-spacing: -0.3px;
}

.head-btm {
    display: flex;
}

.head-btm ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.head-btm ul li {
    padding: 8px 0 4px;
    margin: 0 10px;
    font-family: "inter-medium";
    font-size: 13px;
    line-height: 19.6px;
    font-weight: 500;
    cursor: pointer;
}

.head-btm ul li:hover {
    color: #2874f0;
    border-bottom: 2px solid #2874f0;
}

.head-btm ul li:first-child {
    padding: 8px 10px 4px 0;
    margin: 0;
}

.head-btm ul li:nth-child(n+3) {
    font-family: "inter-regular";
    /* line-height: 13.6px; */
    font-size: 13px;
}

.head-btm ul li:nth-child(2) {
    color: #2975f0;
    border-bottom: 3px solid #2975f0;
}

/* tue */

.card-padding {
    padding: 24px 0 30px 24px;
    display: block;
    border-bottom: 1px solid #f0f0f0;
}

.card {
    display: flex;
    flex-flow: row;
}

.card-left {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-right {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    width: calc(100% - 200px);
}

.input {
    display: block;
    margin-top: 16px;
}

.input input {
    white-space: none !important;

}

.input span {
    font-size: 14px;
    color: #212121;
    cursor: pointer;
    font-family: "inter-regular";
    box-sizing: border-box;
    font-weight: 5=400;
    margin-left: px;
}

.phone-img {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
}

.phone-img img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

.like-img {
    position: absolute;
    display: inline-block;
    top: 2px;
    right: -8px;
    cursor: pointer;
}

.right-first {
    display: flex;
    flex-flow: column;
    width: 58.33%;
}

.right-first h2 {
    margin: 0;
    font-family: "inter-medium";
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.rating {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}

.rate-btn {
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
    height: 19px;
    box-sizing: border-box;

}

.rate-btn span {
    font-family: "inter-medium";
    font-size: 12px;
    font-weight: 400;
}

.rate-btn img {
    width: 10px;
    height: 10px;
    padding-left: 2px;
}

.rating p {
    font-family: "inter-medium";
    color: #878787;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin: 0;
    padding: 3px 8px;

}

.right-first ul {
    list-style: none;
    padding: 0;
}

.right-first ul li {
    font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
    /* font-family: "inter-regular"; */
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-direction: row;
}

.right-first ul li::before {
    content: "•";
    color: #c2c2c2;
    padding-right: 8px;
    display: block;
}

.right-end {
    display: flex;
    flex-direction: column;
}

.end-top {
    display: flex;
    flex-direction: row;
}

.flipkart-img {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding-bottom: 4px;
}

.flipkart-img img {
    width: 77px;
    height: 21px;
}

.end-top h2 {
    margin: 0;
    font-family: "inter-medium";
    font-size: 25px;
    display: block;
    line-height: 25px;
    font-weight: 500;
}

.price-details {
    display: flex;
    flex-direction: column;
}

.price-top {
    display: flex;
    flex-direction: column;
}

.price-last {
    font-size: 14px;
    color: #878787;
    font-family: "inter-regular";
    padding-top: 5px;
}

.price-last span {
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 500;
    margin-left: 10px;
}

.price-btm {
    margin: 6px 0 0;
}

.price-btm span {
    display: inline;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    font-family: "inter-regular";
}

.offer-txt {
    display: inline-block;
}

.offer-txt span {
    color: rgb(38, 165, 65);
    font-size: 12px;
    font-weight: 700;
    font-family: "inter-regular";
}

.btm-span {
    font-family: "inter-regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: inline-flex;
}

.btm-span span {
    font-family: "inter-medium";
    padding: 0 3px;
    font-weight: 400;
}

.catogories {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    gap: 5px;
}

.catogory-Txt {
    margin-bottom: 5px;
}

.catogory-Txt span {
    font-size: 12px;
    font-weight: 500;
    font-family: "inter-medium";
    line-height: 16.8px;
    color: #212121;

}

.catogory-Txt1 {
    display: flex;
    align-items: center;
}

.catogory-Txt1 img {
    width: 10px;
    height: 10px;
}

.catogory-Txt1 a {
    color: #878787;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    line-height: 19.6px;
    font-family: "inter-regular";
    padding-left: 5px;
}

.catogory-Txt2 {
    padding: 5px 0;
}

.catogory-Txt2 a {
    font-size: 13px;
    font-weight: 500;
    font-family: "inter-medium";
    line-height: 19.6px;
    margin-left: 15px;
}

.price-range {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.price-range span {
    font-size: 12px;
    font-weight: 500;
    font-family: "inter-medium";
    line-height: 16.8px;
    color: #212121;
}
/* fri */

.range-top{
    height: 100%;
  position: relative;
  bottom: -6px;
  width:238 px;
  height: 29px;
  background: #e0e0e0;
}
.range{
    position: relative;
  height: 13px;
  cursor: pointer;
}
.left-range{
    display: inline-block;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: -3.5px;
  transition: translate .5s ease-out;
}


.brand {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.brand-txt {
    display: flex;
    justify-content: space-between;
}

.brand span {
    font-size: 12px;
    font-weight: 500;
    font-family: "inter-medium";
    line-height: 16.8px;
    color: #212121;
}

.brand img {
    width: 11px;
    height: 11px;
    transform: rotate(90deg);
}

.search-content {
    margin: 7px 0;
    box-sizing: border-box;
    width: 100%;
}

.search-div {
    margin-bottom: 7px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.search-div input {
    outline: none;
    border: none;
    color: #a79999;
    margin-left: 8px;
    padding-bottom: 3px;
}

.search-div img {
    transform: rotate(-360deg);
}

.checkbox-item {
    padding: 3px 0;
}

.checkbox-item label {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.checkbox-item input {
    display: flex;
}

.checkboxTxt {
    margin-left: 11px;
    font-family: "inter-regular";
    font-size: 13px;
    width: 100%-25px;
    color: #2c2c2c;
}

.flipImgContent {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.flip-span {
    width: 26px;
  /* margin-left: 10px; */
}

.flip-span span {
    width: 16px !important;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    vertical-align: middle;
    margin: 0 2px 0 8px;
    cursor: pointer;
}

.flip-img {
    width: 176px;
    height: 21px;
    padding-left: 11px;
}

.flip-img img {
    width: 77px;
    height: 21px;
}
/* fri */
.side-section{
    display: flex;
    flex-flow: column;
}
.side-section>div{
    display: flex;
    flex-direction: column;
    padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}
.sec-head{
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 10px ; */
}
.sec-head span{
    font-size: 13px;
    font-weight: 500;
    font-family: "inter-medium";
    line-height: 18.2px;
    color: #212121;
}
.sec-head img{
    width: 11px;
    height: 11px;
    transform: rotate(90deg);
    transition: transform 0.5s ease;

}
.sec-dropdown{
    margin: 7px 0;
}
.checkDiv{
    display: flex;
    padding: 5px 0;
}
.checkDiv label{
    font-size: 13px;
    font-weight: 500;
    font-family: "inter-regular";
    line-height: 14px !important;
    color: #212121;
    padding: 3px 0;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.checkDiv input{
   margin-right: 10px;
}
  .side-section  #displaynone .sec-dropdown{
    display: none;
}
